// Deprecated in favour of FM AnimatePresence

// RTG Classes

.photo-fade {
  position: relative;
}

.photo-fade-appear,
.photo-fade-appear-active,
.photo-fade-exit,
.photo-fade-exit-active,
.photo-fade-exit-done,
.photo-fade-enter,
.photo-fade-enter-active {
  transition: 0.25s ease-in-out;
}
.photo-fade-appear,
.photo-fade-enter {
  opacity: 0;
   transform: translateX(50px);
}
.photo-fade-appear.photo-fade-appear-active,
.photo-fade-enter.photo-fade-enter-active {
  opacity: 1;
  transform: translateX(0px);
}
.photo-fade-exit {
  opacity: 1;
}
.photo-fade-exit.photo-fade-exit-active,
.photo-fade-exit-done {
  opacity: 0;
}


// RTG Classes
.photo-fade-odd {
  position: relative;
}

.photo-fade-odd-appear,
.photo-fade-odd-appear-active,
.photo-fade-odd-exit,
.photo-fade-odd-exit-active,
.photo-fade-odd-exit-done,
.photo-fade-odd-enter,
.photo-fade-odd-enter-active {
  transition: 0.25s ease-in-out;
}
.photo-fade-odd-appear,
.photo-fade-odd-enter {
  opacity: 0;
   transform: translateX(-50px);
}
.photo-fade-odd-appear.photo-fade-odd-appear-active,
.photo-fade-odd-enter.photo-fade-odd-enter-active {
  opacity: 1;
  transform: translateX(0px);
}
.photo-fade-odd-exit {
  opacity: 1;
}
.photo-fade-odd-exit.photo-fade-odd-exit-active,
.photo-fade-odd-exit-done {
  opacity: 0;
  //transform: translateX(-50px);
}



// RTG Classes
.fade-simple {
  position: relative;
}

.fade-simple-appear,
.fade-simple-appear-active,
.fade-simple-exit,
.fade-simple-exit-active,
.fade-simple-exit-done,
.fade-simple-enter,
.fade-simple-enter-active {
  transition: 2s linear;
}
.fade-simple-appear,
.fade-simple-enter {
  opacity: 0;
}
.fade-simple-appear.fade-simple-appear-active,
.fade-simple-enter.fade-simple-enter-active {
  opacity: 1;
}
.fade-simple-exit {
  opacity: 1;
}
.fade-simple-exit.fade-simple-exit-active,
.fade-simple-exit-done {
  opacity: 0;
}



// RTG Classes
.clip-path {
  position: relative;
}

.clip-path-appear,
.clip-path-appear-active,
.clip-path-exit,
.clip-path-exit-active,
.clip-path-exit-done,
.clip-path-enter,
.clip-path-enter-active {
  transition: 1s ease-in-out;
}
.clip-path-appear,
.clip-path-enter {
  clip-path: inset(0 0 100% 0);
}

.clip-path-appear.clip-path-appear-active,
.clip-path-enter.clip-path-enter-active {
  clip-path: inset(0 0 0 0);
}
.clip-path-exit {
  clip-path: inset(0 0 0 0);
}
.clip-path-exit.clip-path-exit-active,
.clip-path-exit-done {
  clip-path: inset(0 0 100% 0);
}
